

form .row {
    margin-top: 20px;
}

form button {
    color: white !important;
    width: 200px;
}

@media (max-width: 768px) {
    .btn-form {
        display: flex;
        justify-content: center;
    }

    .btn-form button {
        margin: 0 10px;
    }
}