
form .row {
    margin-top: 20px;
}

.form-select {
    max-width: 500px;
    margin: 0 auto;
}

.scheduling-text .row {
    height: 100%;
    align-items: center;
}

.scheduling-text p {    
    font-size: 1.5rem;
    text-align: justify;
}
