.form-btns button { width: 30%; }

@media (max-width: 768px) {
    .form-btns {
        display: flex;
        justify-content: center;
        gap: 1rem;
    }
    .form-btns button { width: 40%; }
}